node-red/flows.json
[{"id":"6d94cb8a.b8a6a4","type":"tab","label":"Automations","disabled":false,"info":""},{"id":"132fe0e2.2a3f2f","type":"tab","label":"IKEA remote (main light)","disabled":true,"info":""},{"id":"ea727665.434288","type":"tab","label":"IKEA remote (living room)","disabled":false,"info":""},{"id":"3d2643f.0be5dbc","type":"tab","label":"IKEA remote (forgein flow)","disabled":true,"info":""},{"id":"8267124e.00ea9","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"35f93702.55a168","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c3b45c28.dd1dc","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9f60b1e4.b8d8c","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.132","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"842fe431.b6cf38","type":"mqtt in","z":"3d2643f.0be5dbc","name":"Remote IKEA","topic":"zigbee2mqtt/remote1","qos":"0","datatype":"json","broker":"9f60b1e4.b8d8c","x":130,"y":390,"wires":[["9e74530a.d7a26"]]},{"id":"9e74530a.d7a26","type":"switch","z":"3d2643f.0be5dbc","name":"Action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"},{"t":"eq","v":"brightness_up_hold","vt":"str"},{"t":"eq","v":"brightness_up_release","vt":"str"},{"t":"eq","v":"brightness_down_hold","vt":"str"},{"t":"eq","v":"brightness_down_release","vt":"str"},{"t":"eq","v":"arrow_right_release","vt":"str"},{"t":"eq","v":"arrow_left_release","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":350,"y":390,"wires":[["75c3c8df.bb2208"],["bfbc1186.28422"],["662ddd62.b47614"],["1b620d46.ab8433"],["cc42ea50.1dc5c8"],["d0335446.c16a28","d3bf9967.9c2e38"],["882e7136.81a9"],["d0335446.c16a28","47e239c5.e4cd38"],["882e7136.81a9"],["d688b2e0.eeaa7"],["d688b2e0.eeaa7"]]},{"id":"75c3c8df.bb2208","type":"function","z":"3d2643f.0be5dbc","name":"Toggle","func":"var device = flow.get(\"activeDevice\");\nvar currentState = device + \"_state\";\nvar current = flow.get(currentState);\n\n\n\nif(current === \"ON\"){\n    state = \"OFF\";\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"state\": state\n    };\n    return msg;\n}\n\nif(current === \"OFF\" || undefined){\n    state = \"ON\";\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"state\": state\n    };\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":860,"y":270,"wires":[["a8924ce2.5f477"]]},{"id":"cc42ea50.1dc5c8","type":"function","z":"3d2643f.0be5dbc","name":"Brightness DOWN 50","func":"var device = flow.get(\"activeDevice\");\nvar currentState = device + \"_brightness\";\nvar current = flow.get(currentState);\n\n\nvar brightness = current - 50;\n\n\nif(brightness > 255){\n    brightness = 255;\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\n\nif(brightness < 0){\n    brightness = 0;\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\nelse{\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\n","outputs":1,"noerr":0,"x":910,"y":345,"wires":[["a8924ce2.5f477"]]},{"id":"1b620d46.ab8433","type":"function","z":"3d2643f.0be5dbc","name":"Brightness UP 50","func":"var device = flow.get(\"activeDevice\");\nvar currentState = device + \"_brightness\";\nvar current = flow.get(currentState);\n\nvar brightness = current + 50;\n\n\nif(brightness > 255){\n    brightness = 255;\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\n\nif(brightness < 0){\n    brightness = 0;\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\nelse{\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":900,"y":315,"wires":[["a8924ce2.5f477"]]},{"id":"662ddd62.b47614","type":"function","z":"3d2643f.0be5dbc","name":"toggle devices --","func":"var devices = global.get(\"ZigbeeLights\");\n\nvar x = devices.length - 1;\nvar count = flow.get(\"count\");\nvar y = isNaN(count);\n\nif(y === true ){\n    count = 0;\n    flow.set(\"count\", count);\n}\n\nvar currentDevice = devices[count];\ncount--;\n\nif(count < 0){\n    count = x;\n}\n\nflow.set(\"count\", count);\nflow.set(\"activeDevice\", currentDevice);\nreturn msg;","outputs":1,"noerr":0,"x":545,"y":270,"wires":[[]]},{"id":"bfbc1186.28422","type":"function","z":"3d2643f.0be5dbc","name":"toggle devices ++","func":"var devices = global.get(\"ZigbeeLights\");\n\nvar x = devices.length - 1;\nvar count = flow.get(\"count\");\nvar y = isNaN(count);\n\nif(y === true ){\n    count = 0;\n    flow.set(\"count\", count);\n}\n\nvar currentDevice = devices[count];\ncount++;\n\nif(count > x){\n    count = 0;\n}\n\nflow.set(\"count\", count);\nflow.set(\"activeDevice\", currentDevice);\n\nreturn msg;","outputs":1,"noerr":0,"x":555,"y":225,"wires":[[]]},{"id":"a8924ce2.5f477","type":"mqtt out","z":"3d2643f.0be5dbc","name":"spotlight","topic":"","qos":"","retain":"","broker":"9f60b1e4.b8d8c","x":1155,"y":405,"wires":[]},{"id":"16c3fa04.c495b6","type":"delay","z":"3d2643f.0be5dbc","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":510,"wires":[["460f348d.3a3e7c"]]},{"id":"76cba591.bdcd0c","type":"delay","z":"3d2643f.0be5dbc","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":540,"wires":[["47ad2ba8.99d544"]]},{"id":"d3bf9967.9c2e38","type":"function","z":"3d2643f.0be5dbc","name":"Brightness up","func":"var device = flow.get(\"activeDevice\");\nvar currentState = device + \"_brightness\";\nvar current = flow.get(currentState);\n\nvar brightness = current + 30;\n\n\nif(brightness > 255 || msg.feeedback == 255){\n    brightness = 255;\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    msg.feedback = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\n\nif(brightness < 0 || msg.feeedback === 0){\n    brightness = 0;\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    msg.feedback = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\nelse{\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    msg.feedback = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\n","outputs":1,"noerr":0,"x":890,"y":390,"wires":[["c319c76b.26bfa8","a8924ce2.5f477"]]},{"id":"47e239c5.e4cd38","type":"function","z":"3d2643f.0be5dbc","name":"Brightness down","func":"var device = flow.get(\"activeDevice\");\nvar currentState = device + \"_brightness\";\nvar current = flow.get(currentState);\n\n\nvar brightness = current - 30;\n\n\nif(brightness > 255 || msg.feeedback == 255){\n    brightness = 255;\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\n\nif(brightness < 0|| msg.feeedback === 0){\n    brightness = 0;\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    return msg;\n}\nelse{\n    msg.topic = \"zigbee2mqtt/\" + device + \"/set\";\n    msg.payload = {\n        \"brightness\": brightness\n    };\n    msg.feedback = {\n        \"brightness\": brightness\n    };\n    return msg;\n}","outputs":1,"noerr":0,"x":900,"y":420,"wires":[["30622464.5014ec","a8924ce2.5f477"]]},{"id":"47ad2ba8.99d544","type":"switch","z":"3d2643f.0be5dbc","name":"HoldUP","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1215,"y":540,"wires":[["d3bf9967.9c2e38"]]},{"id":"460f348d.3a3e7c","type":"switch","z":"3d2643f.0be5dbc","name":"HoldUP","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1215,"y":510,"wires":[["47e239c5.e4cd38"]]},{"id":"30622464.5014ec","type":"change","z":"3d2643f.0be5dbc","name":"msg.feedback","rules":[{"t":"set","p":"payload","pt":"msg","to":"feedback","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":510,"wires":[["16c3fa04.c495b6"]]},{"id":"c319c76b.26bfa8","type":"change","z":"3d2643f.0be5dbc","name":"msg.feedback","rules":[{"t":"set","p":"payload","pt":"msg","to":"feedback","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":540,"wires":[["76cba591.bdcd0c"]]},{"id":"d0335446.c16a28","type":"change","z":"3d2643f.0be5dbc","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":515,"y":525,"wires":[["db78b506.effff8"]]},{"id":"882e7136.81a9","type":"change","z":"3d2643f.0be5dbc","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":515,"y":570,"wires":[["db78b506.effff8"]]},{"id":"db78b506.effff8","type":"change","z":"3d2643f.0be5dbc","name":"Hold UP","rules":[{"t":"set","p":"press","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":675,"y":540,"wires":[[]]},{"id":"8833c7b7.422068","type":"mqtt in","z":"3d2643f.0be5dbc","name":"spotlight","topic":"zigbee2mqtt/spotlight1","qos":"0","datatype":"json","broker":"9f60b1e4.b8d8c","x":150,"y":120,"wires":[["67413868.ad8578"]]},{"id":"67413868.ad8578","type":"function","z":"3d2643f.0be5dbc","name":"Save Value","func":"var state = msg.payload.state;\nvar brightness = msg.payload.brightness;\n\nflow.set(\"spotlight1_brightness\", brightness);\nflow.set(\"spotlight1_state\", state);\n","outputs":1,"noerr":0,"x":340,"y":120,"wires":[[]]},{"id":"3d80b9a6.a6e2f6","type":"mqtt in","z":"3d2643f.0be5dbc","name":"IKEA 2","topic":"zigbee2mqtt/ikeabulb2","qos":"0","datatype":"json","broker":"9f60b1e4.b8d8c","x":140,"y":180,"wires":[["9b6ac183.bb6f8"]]},{"id":"9b6ac183.bb6f8","type":"function","z":"3d2643f.0be5dbc","name":"Save Value","func":"var state = msg.payload.state;\nvar brightness = msg.payload.brightness;\n\nflow.set(\"ikeabulb2_brightness\", brightness);\nflow.set(\"ikeabulb2_state\", state);\n","outputs":1,"noerr":0,"x":340,"y":180,"wires":[[]]},{"id":"d688b2e0.eeaa7","type":"function","z":"3d2643f.0be5dbc","name":"Fav Devices","func":"var x = msg.payload.action;\n\nif(x === \"arrow_right_release\"){\n   flow.set(\"activeDevice\", \"spotlight1\"); \n}\n\nif(x === \"arrow_left_release\"){\n   flow.set(\"activeDevice\", \"ikeabulb2\"); \n}\nreturn msg;","outputs":1,"noerr":0,"x":535,"y":465,"wires":[[]]},{"id":"9551e8a.6541318","type":"function","z":"3d2643f.0be5dbc","name":"Set devices","func":"var x = msg.payload;\nglobal.set(\"ZigbeeLights\", x);\n","outputs":1,"noerr":0,"x":340,"y":75,"wires":[[]]},{"id":"bc613a9.2bda3c8","type":"inject","z":"3d2643f.0be5dbc","name":"Zigbee Devices","props":[{"p":"payload","v":"[\"spotlight1\",\"ikeabulb2\"]","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"spotlight1\",\"ikeabulb2\"]","payloadType":"json","x":170,"y":75,"wires":[["9551e8a.6541318"]]},{"id":"daf9e6d0.2e0f38","type":"server-state-changed","z":"6d94cb8a.b8a6a4","name":"","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.playstation_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":40,"wires":[["482ce879.b67bd8"]]},{"id":"b281c8d.bd24338","type":"function","z":"6d94cb8a.b8a6a4","name":"PS On, Sun below","func":"const globalHomeAssistant = global.get('homeassistant');\n\nvar sun = globalHomeAssistant.homeAssistant.states[\"sun.sun\"].state;\nvar light_state =  globalHomeAssistant.homeAssistant.states[\"light.0x680ae2fffe5e602c_light\"].state;\n\nvar response = {};\n\nif( msg.payload == 'playing' &&\n    sun == 'below_horizon' &&\n    light_state == 'on' )\n{\n    response.payload = 'tv_on'\n}\nelse\n{\n    response.payload = 'tv_off'\n}\nreturn response;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":100,"wires":[["79558556.dbf09c","229f1c30.78b684"]]},{"id":"8dcd6810.4c2358","type":"api-call-service","z":"6d94cb8a.b8a6a4","name":"","server":"8267124e.00ea9","version":1,"debugenabled":true,"service_domain":"scene","service":"turn_on","entityId":"scene.tv_time","data":"{\"transition\":5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":40,"wires":[[]]},{"id":"229f1c30.78b684","type":"debug","z":"6d94cb8a.b8a6a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":180,"wires":[]},{"id":"79558556.dbf09c","type":"switch","z":"6d94cb8a.b8a6a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"tv_on","vt":"str"},{"t":"eq","v":"tv_off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":100,"wires":[["8dcd6810.4c2358"],[]]},{"id":"482ce879.b67bd8","type":"function","z":"6d94cb8a.b8a6a4","name":"Check if automation enabled","func":"const globalHomeAssistant = global.get('homeassistant');\n\nvar automationsEnabled = globalHomeAssistant.homeAssistant.states[\"input_boolean.automations_enabled\"].state;\n\nif(automationsEnabled === 'on')\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":40,"wires":[["b281c8d.bd24338"]]},{"id":"2684cb64.142874","type":"server-state-changed","z":"132fe0e2.2a3f2f","name":"IKEA remote","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x680ae2fffe8288a7_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":180,"wires":[["d9020151.58606","219ea3bd.0e8e4c"]]},{"id":"d9020151.58606","type":"debug","z":"132fe0e2.2a3f2f","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":100,"wires":[]},{"id":"219ea3bd.0e8e4c","type":"switch","z":"132fe0e2.2a3f2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":180,"wires":[["5215c755.c01e28"],[],[],["d79e8354.e2418"],["94d68028.a4b42"]]},{"id":"5215c755.c01e28","type":"api-call-service","z":"132fe0e2.2a3f2f","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.0x680ae2fffe5e602c_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":180,"wires":[[]]},{"id":"d79e8354.e2418","type":"function","z":"132fe0e2.2a3f2f","name":"Brightness up","func":"var deviceName = \"0x680ae2fffe5e602c\";\nvar device = global.get(\"homeassistant\").homeAssistant.states[\"light.\" + deviceName + \"_light\"];\nvar current = device.attributes.brightness;\n\nvar brightness = current + 50;\n\nif(brightness > 255) {\n    brightness = 255;\n}\nmsg.topic = \"zigbee2mqtt/\" + deviceName + \"/set\";\nmsg.payload = {\n    \"brightness\": brightness\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":240,"wires":[["22c9f8c3.e0ea78"]]},{"id":"94d68028.a4b42","type":"function","z":"132fe0e2.2a3f2f","name":"Brightness down","func":"var deviceName = \"0x680ae2fffe5e602c\";\nvar device = global.get(\"homeassistant\").homeAssistant.states[\"light.\" + deviceName + \"_light\"];\nvar current = device.attributes.brightness;\n\nvar brightness = current - 50;\n\n\n\nif(current == 1) {\n    brightness = 0;\n}\nelse if(brightness < 0) {\n    brightness = 1;\n}\n\n\n\nmsg.topic = \"zigbee2mqtt/\" + deviceName + \"/set\";\nmsg.payload = {\n    \"brightness\": brightness\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":280,"wires":[["22c9f8c3.e0ea78","f878f89c.d73de8"]]},{"id":"22c9f8c3.e0ea78","type":"mqtt out","z":"132fe0e2.2a3f2f","name":"","topic":"","qos":"","retain":"","broker":"c3b45c28.dd1dc","x":920,"y":280,"wires":[]},{"id":"f878f89c.d73de8","type":"debug","z":"132fe0e2.2a3f2f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":360,"wires":[]},{"id":"372e70b1.25dfa","type":"server-state-changed","z":"ea727665.434288","name":"IKEA remote","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x680ae2fffe8288a7_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":60,"wires":[["6bdd37f9.e52048","1bdffc8f.3d4b43"]]},{"id":"6bdd37f9.e52048","type":"debug","z":"ea727665.434288","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":320,"y":180,"wires":[]},{"id":"1bdffc8f.3d4b43","type":"switch","z":"ea727665.434288","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"toggle_hold","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":290,"y":60,"wires":[["3e9787cb.513948"],["aa6da7cf.e41608","46b9fb7a.3a7cd4"],["f29c3c9.fee9ec"],["a390bba7.8100e8"],[],[]]},{"id":"a390bba7.8100e8","type":"api-call-service","z":"ea727665.434288","name":"Living room main light toggle","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.living_room_light_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":220,"wires":[[]]},{"id":"f29c3c9.fee9ec","type":"api-call-service","z":"ea727665.434288","name":"Kitchen light toggle","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"group.kitchen_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":180,"wires":[[]]},{"id":"46a73730.324a18","type":"function","z":"ea727665.434288","name":"Set devices","func":"global.set(\"AllLights\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":220,"wires":[[]]},{"id":"cb790fb0.61ee6","type":"inject","z":"ea727665.434288","name":"Zigbee Devices","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"light.living_room_light_light\",\"light.living_room_lamp_light\",\"light.kitchen_light_1_light\",\"switch.christmas_tree_light_switch\"]","payloadType":"json","x":120,"y":220,"wires":[["46a73730.324a18"]]},{"id":"3e9787cb.513948","type":"function","z":"ea727665.434288","name":"Toggle all lights on/off","func":"// Settings\nvar dontTurnOnDevicesList = [\n    \"light.living_room_lamp_light\"\n    ];\n\n// Variables\nvar devices = global.get(\"AllLights\");\nvar response = [];\nvar turningOn = true;\n\n// Check if turning lights on or off\nfor(let deviceName of devices) {\n    var device = global.get(\"homeassistant\").homeAssistant.states[deviceName];\n    var currentState = device.attributes.state;\n    if(currentState == \"ON\") {\n        node.warn(\"Light <\" + deviceName + \"> is ON\");\n        turningOn = false;\n        break;\n    }\n};\nnode.warn(\"Turning lights in living room <\" + (turningOn ? \"ON\" : \"OFF\") + \">\");\n\n// Turn on/off devices\nfor(let deviceName of devices) {\n    if(turningOn && dontTurnOnDevicesList.includes(deviceName)) {\n       response.push(null);\n       continue;\n    }\n    \n    var msg = {\n        domain: deviceName.substr(0, deviceName.indexOf('.')), // light/switch\n        service: \"turn_\" + (turningOn ? \"on\" : \"off\"),\n        data: { entity_id: deviceName }\n    };\n    response.push({ payload: msg });\n};\n\nnode.warn(response);\nreturn response;","outputs":4,"noerr":0,"initialize":"","finalize":"","x":580,"y":40,"wires":[["18f1a89d.213b77"],["18f1a89d.213b77"],["18f1a89d.213b77"],["18f1a89d.213b77"]],"info":"This node has to have as many input as the count of items in function node \"Zigbee Devices\""},{"id":"18f1a89d.213b77","type":"api-call-service","z":"ea727665.434288","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":40,"wires":[[]]},{"id":"aa6da7cf.e41608","type":"api-call-service","z":"ea727665.434288","name":"Living Room and Kitchen Lights Off","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.kitchen_living_room_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":100,"wires":[[]]},{"id":"46b9fb7a.3a7cd4","type":"api-call-service","z":"ea727665.434288","name":"Living Room Switches Off","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"group.living_room_switches","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":140,"wires":[[]]}]
