node-red/flows.json
[{"id":"ea727665.434288","type":"tab","label":"IKEA remote (living room)","disabled":true,"info":""},{"id":"51a93ab6.acbab4","type":"tab","label":"Plex","disabled":true,"info":""},{"id":"132fe0e2.2a3f2f","type":"tab","label":"IKEA remote (main light)","disabled":true,"info":""},{"id":"415c2642.af2d08","type":"tab","label":"Vacuum","disabled":false,"info":""},{"id":"f0642c91.8f133","type":"tab","label":"TV meter","disabled":false,"info":""},{"id":"d1775981.e4fad8","type":"tab","label":"TV power","disabled":false,"info":""},{"id":"c60a147b.67f888","type":"tab","label":"Vacuum button","disabled":false,"info":""},{"id":"2412f222.0f06ee","type":"tab","label":"Tricolor","disabled":true,"info":""},{"id":"ebbbe5d0bed04065","type":"tab","label":"PC","disabled":false,"info":"","env":[]},{"id":"76521e26.8c88b","type":"subflow","name":"Tricolor fast","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"31cc05c2.a179da"}]}],"out":[{"x":540,"y":220,"wires":[{"id":"e3a16629f4324d15","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"8267124e.00ea9","type":"server","name":"Home Assistant","addon":true},{"id":"35f93702.55a168","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c3b45c28.dd1dc","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9f60b1e4.b8d8c","type":"mqtt-broker","name":"","broker":"192.168.1.132","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"42dbd6f7.666bb8","type":"server","name":"Home Assistant X","addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"2245da93.61b096","type":"server","name":"Hass.io","rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"73d562a7.0af30c","type":"api-call-service","z":"76521e26.8c88b","name":"Red","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_on","entityId":"light.bedroom_light_rgb","data":"{\"transition\": 0.1, \"rgb_color\":[255,0,0], \"brightness\": 255}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"light","mergecontext":"","x":150,"y":140,"wires":[["b4191c574bbb2fae"]]},{"id":"31cc05c2.a179da","type":"api-call-service","z":"76521e26.8c88b","name":"White","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_on","entityId":"light.bedroom_light_rgb","data":"{\"transition\": 0.1, \"rgb_color\":[255,255,255], \"brightness\": 255}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"light","mergecontext":"","x":150,"y":60,"wires":[["b0c8fadecc972374"]]},{"id":"faca2d94.82a65","type":"api-call-service","z":"76521e26.8c88b","name":"Blue","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_on","entityId":"light.bedroom_light_rgb","data":"{\"transition\": 0.1, \"rgb_color\":[0,0,255], \"brightness\": 255}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"light","mergecontext":"","x":150,"y":220,"wires":[["e3a16629f4324d15"]]},{"id":"b0c8fadecc972374","type":"trigger","z":"76521e26.8c88b","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"STOP","bytopic":"all","topic":"topic","outputs":1,"x":340,"y":60,"wires":[["73d562a7.0af30c"]]},{"id":"b4191c574bbb2fae","type":"trigger","z":"76521e26.8c88b","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"STOP","bytopic":"all","topic":"topic","outputs":1,"x":340,"y":140,"wires":[["faca2d94.82a65"]]},{"id":"e3a16629f4324d15","type":"trigger","z":"76521e26.8c88b","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"STOP","bytopic":"all","topic":"topic","outputs":1,"x":340,"y":220,"wires":[[]]},{"id":"372e70b1.25dfa","type":"server-state-changed","z":"ea727665.434288","name":"IKEA remote","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x680ae2fffe8288a7_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":60,"wires":[["6bdd37f9.e52048","1bdffc8f.3d4b43"]]},{"id":"6bdd37f9.e52048","type":"debug","z":"ea727665.434288","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":320,"y":180,"wires":[]},{"id":"1bdffc8f.3d4b43","type":"switch","z":"ea727665.434288","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"toggle_hold","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":290,"y":60,"wires":[["3e9787cb.513948"],["aa6da7cf.e41608"],["3c9d52c1.b43c9e"],["a390bba7.8100e8"],["b796158a.96f588"],["6a629ca3.e61f84"]]},{"id":"a390bba7.8100e8","type":"api-call-service","z":"ea727665.434288","name":"Living room main light toggle","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"toggle","entityId":"light.living_room_light_light","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"light","mergecontext":"","x":600,"y":180,"wires":[[]]},{"id":"46a73730.324a18","type":"function","z":"ea727665.434288","name":"Set devices","func":"global.set(\"AllLights\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":400,"wires":[[]]},{"id":"cb790fb0.61ee6","type":"inject","z":"ea727665.434288","name":"Zigbee Devices","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"light.living_room_light_light\",\"light.living_room_lamp_light\"]","payloadType":"json","x":140,"y":400,"wires":[["46a73730.324a18"]]},{"id":"3e9787cb.513948","type":"function","z":"ea727665.434288","name":"Toggle all lights on/off","func":"// Settings\nvar dontTurnOnDevicesList = [\n    \"light.living_room_lamp_light\"\n    ];\n\n// Variables\nvar devices = [\n    \"light.living_room_light_light\",\n    \"light.living_room_lamp_light\",\n    \"light.kitchen_light\"\n    ]//global.get(\"AllLights\");\nvar response = [];\nvar turningOn = true;\n\n// Check if turning lights on or off\nfor(let deviceName of devices) {\n    var device = global.get(\"homeassistant\").homeAssistant.states[deviceName];\n    var currentState = device.attributes.state;\n    if(currentState == \"ON\") {\n        node.warn(\"Light <\" + deviceName + \"> is ON\");\n        turningOn = false;\n        break;\n    }\n}\nnode.warn(\"Turning lights in living room <\" + (turningOn ? \"ON\" : \"OFF\") + \">\");\n\n// Turn on/off devices\nfor(let deviceName of devices) {\n    if(turningOn && dontTurnOnDevicesList.includes(deviceName)) {\n       response.push(null);\n       continue;\n    }\n    \n    msg = {\n        domain: deviceName.substr(0, deviceName.indexOf('.')), // light/switch\n        service: \"turn_\" + (turningOn ? \"on\" : \"off\"),\n        data: { entity_id: deviceName }\n    };\n    response.push({ payload: msg });\n}\n\nnode.warn(response);\nreturn response;","outputs":4,"noerr":0,"initialize":"","finalize":"","x":580,"y":40,"wires":[["18f1a89d.213b77"],["18f1a89d.213b77"],["18f1a89d.213b77"],["18f1a89d.213b77"]],"info":"This node has to have as many input as the count of items in function node \"Zigbee Devices\""},{"id":"18f1a89d.213b77","type":"api-call-service","z":"ea727665.434288","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"","entityId":"","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"","mergecontext":"","x":750,"y":40,"wires":[[]]},{"id":"aa6da7cf.e41608","type":"api-call-service","z":"ea727665.434288","name":"Living Room Off","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"living_room_off","entityId":"","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"script","mergecontext":"","x":560,"y":100,"wires":[[]]},{"id":"6a629ca3.e61f84","type":"api-call-service","z":"ea727665.434288","name":"Minimum","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_on","entityId":"scene.tv_time","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"scene","mergecontext":"","x":540,"y":300,"wires":[[]]},{"id":"b796158a.96f588","type":"api-call-service","z":"ea727665.434288","name":"Maximum","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_on","entityId":"scene.focus_mode","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"scene","mergecontext":"","x":540,"y":240,"wires":[[]]},{"id":"3c9d52c1.b43c9e","type":"api-call-service","z":"ea727665.434288","name":"Kitchen light toggle","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"toggle","entityId":"light.kitchen_light","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"light","mergecontext":"","x":570,"y":140,"wires":[[]]},{"id":"77959628.226a78","type":"function","z":"ea727665.434288","name":"Was vaccum cleaning today?","func":"const records = msg.payload;\n\nvar beginningOfToday = new Date();\nbeginningOfToday.setHours(9);\n\nconst filteredRecords = records\n    .filter(record => record.state == \"cleaning\")\n    .filter(record => new Date(record.last_changed) > beginningOfToday);\n\nif(filteredRecords.length === 0)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":500,"wires":[[]]},{"id":"53b5980.0b2bf68","type":"api-get-history","z":"ea727665.434288","name":"","server":"8267124e.00ea9","startdate":"","enddate":"","entityid":"light.living_room_light_light","entityidtype":"is","useRelativeTime":true,"relativeTime":"24 h","flatten":true,"output_type":"array","output_location_type":"msg","output_location":"payload","x":420,"y":520,"wires":[[]]},{"id":"243c664.f45249a","type":"server-state-changed","z":"51a93ab6.acbab4","name":"","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.plex_plex_for_playstation_4_ps4_591","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":260,"y":80,"wires":[["961d053.9ee9af8"]]},{"id":"e9aefe4c.d92bd","type":"switch","z":"51a93ab6.acbab4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"eq","v":"paused","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":100,"wires":[["7b7b428a.210a6c"],["87f1b0d.f77e35"]]},{"id":"87f1b0d.f77e35","type":"api-call-service","z":"51a93ab6.acbab4","name":"","server":"8267124e.00ea9","version":1,"debugenabled":true,"service":"turn_on","entityId":"scene.tv_time","data":"{\"transition\":3}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"scene","mergecontext":"","x":890,"y":120,"wires":[[]]},{"id":"7b7b428a.210a6c","type":"api-call-service","z":"51a93ab6.acbab4","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_off","entityId":"light.living_room_light_light","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"light","mergecontext":"","x":890,"y":60,"wires":[[]]},{"id":"961d053.9ee9af8","type":"function","z":"51a93ab6.acbab4","name":"Check if automation enabled","func":"const globalHomeAssistant = global.get('homeassistant');\n\nvar automationsEnabled = globalHomeAssistant.homeAssistant.states[\"input_boolean.automation_plex_pause_light\"].state;\n\nif(automationsEnabled === 'on')\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[["e9aefe4c.d92bd"]]},{"id":"2684cb64.142874","type":"server-state-changed","z":"132fe0e2.2a3f2f","name":"IKEA remote","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x680ae2fffe8288a7_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":180,"wires":[["d9020151.58606","219ea3bd.0e8e4c"]]},{"id":"d9020151.58606","type":"debug","z":"132fe0e2.2a3f2f","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":100,"wires":[]},{"id":"219ea3bd.0e8e4c","type":"switch","z":"132fe0e2.2a3f2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":180,"wires":[["5215c755.c01e28"],[],[],["d79e8354.e2418"],["94d68028.a4b42"]]},{"id":"5215c755.c01e28","type":"api-call-service","z":"132fe0e2.2a3f2f","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"toggle","entityId":"light.0x680ae2fffe5e602c_light","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"light","mergecontext":"","x":600,"y":180,"wires":[[]]},{"id":"d79e8354.e2418","type":"function","z":"132fe0e2.2a3f2f","name":"Brightness up","func":"var deviceName = \"0x680ae2fffe5e602c\";\nvar device = global.get(\"homeassistant\").homeAssistant.states[\"light.\" + deviceName + \"_light\"];\nvar current = device.attributes.brightness;\n\nvar brightness = current + 50;\n\nif(brightness > 255) {\n    brightness = 255;\n}\nmsg.topic = \"zigbee2mqtt/\" + deviceName + \"/set\";\nmsg.payload = {\n    \"brightness\": brightness\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":240,"wires":[["22c9f8c3.e0ea78"]]},{"id":"94d68028.a4b42","type":"function","z":"132fe0e2.2a3f2f","name":"Brightness down","func":"var deviceName = \"0x680ae2fffe5e602c\";\nvar device = global.get(\"homeassistant\").homeAssistant.states[\"light.\" + deviceName + \"_light\"];\nvar current = device.attributes.brightness;\n\nvar brightness = current - 50;\n\n\n\nif(current == 1) {\n    brightness = 0;\n}\nelse if(brightness < 0) {\n    brightness = 1;\n}\n\n\n\nmsg.topic = \"zigbee2mqtt/\" + deviceName + \"/set\";\nmsg.payload = {\n    \"brightness\": brightness\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":280,"wires":[["22c9f8c3.e0ea78","f878f89c.d73de8"]]},{"id":"22c9f8c3.e0ea78","type":"mqtt out","z":"132fe0e2.2a3f2f","name":"","topic":"","qos":"","retain":"","broker":"c3b45c28.dd1dc","x":920,"y":280,"wires":[]},{"id":"f878f89c.d73de8","type":"debug","z":"132fe0e2.2a3f2f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":360,"wires":[]},{"id":"3f28343b.13fddc","type":"function","z":"415c2642.af2d08","name":"Is mop?","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst vacuum = states[\"vacuum.xiaomi_mop_p\"];\n\nreturn {'payload': vacuum.attributes.is_mop};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":200,"wires":[["e1cae066.ccfb5"]]},{"id":"e1cae066.ccfb5","type":"switch","z":"415c2642.af2d08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":200,"wires":[["d8f7bf4.289c14"],["5b7a8ac1.fee8a4"]]},{"id":"d8f7bf4.289c14","type":"api-call-service","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"vacuum_living_room_with_carpet","entityId":"","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"script","mergecontext":"","x":590,"y":160,"wires":[[]]},{"id":"5b7a8ac1.fee8a4","type":"api-call-service","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"vacuum_living_room_no_carpet","entityId":"","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"script","mergecontext":"","x":600,"y":260,"wires":[[]]},{"id":"70ff5e9f.bef64","type":"server-state-changed","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.nodered_vacuum_living_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":240,"y":60,"wires":[["aa12f973.75bef8","e54b3d79.db4c1"],[]]},{"id":"aa12f973.75bef8","type":"api-call-service","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_off","entityId":"input_boolean.nodered_vacuum_living_room","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"input_boolean","mergecontext":"","x":680,"y":60,"wires":[[]]},{"id":"7a9d45d8.a0e24c","type":"server-state-changed","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.someone_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":520,"wires":[["54eff117.f1814"],["df031f858b6c2861"]]},{"id":"54eff117.f1814","type":"change","z":"415c2642.af2d08","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":460,"wires":[["df031f858b6c2861"]]},{"id":"b2df92de.279c5","type":"api-get-history","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","startdate":"","enddate":"","entityid":"vacuum.xiaomi_mop_p","entityidtype":"is","useRelativeTime":true,"relativeTime":"24 h","flatten":true,"output_type":"array","output_location_type":"msg","output_location":"payload","x":120,"y":700,"wires":[["ac3e8818.86c718"]]},{"id":"ac3e8818.86c718","type":"function","z":"415c2642.af2d08","name":"Was vaccum cleaning today?","func":"const records = msg.payload;\n\nvar beginningOfToday = new Date();\nbeginningOfToday.setHours(9);\n\nnode.warn(records);\n\nconst filteredRecords = records\n    .filter(record => record.state == \"cleaning\")\n    .filter(record => new Date(record.last_changed) > beginningOfToday);\n\nnode.warn(filteredRecords);\nif(filteredRecords.length === 0)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":700,"wires":[["81f3b6b8.03dd68","f04213b33e8dc458"]]},{"id":"e33999de.013ea8","type":"api-call-service","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":5,"debugenabled":false,"domain":"vacuum","service":"start","areaId":[],"deviceId":[],"entityId":["vacuum.xiaomi_mop_p"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":770,"y":700,"wires":[[]]},{"id":"9dd7a6ea.724d08","type":"server-state-changed","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.someone_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":840,"wires":[["1ad7899e.d47f86"],["803d2b5e.78c6b8"]]},{"id":"c9512a55.2d2ce8","type":"api-call-service","z":"415c2642.af2d08","name":"Fan speed Turbo","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"set_fan_speed","entityId":"vacuum.xiaomi_mop_p","data":"{\"fan_speed\": \"turbo\"}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"vacuum","mergecontext":"","x":790,"y":860,"wires":[[]]},{"id":"b2892851.3b5b78","type":"api-call-service","z":"415c2642.af2d08","name":"Fan speed Quiet","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"set_fan_speed","entityId":"vacuum.xiaomi_mop_p","data":"{\"fan_speed\":0}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"vacuum","mergecontext":"","x":770,"y":800,"wires":[[]]},{"id":"81f3b6b8.03dd68","type":"function","z":"415c2642.af2d08","name":"Is it the right time?","func":"const states = global.get('homeassistant').homeAssistant.states;\nnode.warn(global.get('homeassistant').homeAssistant.states)\nnode.warn(states[\"binary_sensor.workday\"])\n\nconst workday = states[\"binary_sensor.workday\"].state == \"on\" ? true : false;\n\nvar time10am = new Date();\ntime10am.setHours(10);\n\nvar time1pm = new Date();\ntime1pm.setHours(13);\n\nvar time10pm = new Date();\ntime10pm.setHours(22);\n\nvar now = new Date();\n\nif((workday && (now >= time10am && now <= time10pm)) || (!workday && (now >= time1pm && now <= time10pm)))\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":700,"wires":[["e33999de.013ea8"]]},{"id":"96c2f008.ff06c","type":"function","z":"415c2642.af2d08","name":"Is mop?","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst vacuum = states[\"vacuum.xiaomi_mop_p\"];\n\nreturn {'payload': vacuum.attributes.is_mop};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":620,"wires":[["c7380d92.9436e"]]},{"id":"c7380d92.9436e","type":"switch","z":"415c2642.af2d08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":620,"wires":[["b2df92de.279c5"],[]]},{"id":"919de498.dc5c48","type":"inject","z":"415c2642.af2d08","name":"10 am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":340,"wires":[["1693d069.fe238"]]},{"id":"19c314bb.45bd1b","type":"inject","z":"415c2642.af2d08","name":"1 pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 13 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":380,"wires":[["feecce4d.3cbbc"]]},{"id":"d09509fb.b11aa8","type":"api-current-state","z":"415c2642.af2d08","name":"Someone home?","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.someone_home","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":360,"wires":[[],["df031f858b6c2861"]]},{"id":"1693d069.fe238","type":"api-current-state","z":"415c2642.af2d08","name":"Workday?","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.workday","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":340,"wires":[["d09509fb.b11aa8"],[]]},{"id":"feecce4d.3cbbc","type":"api-current-state","z":"415c2642.af2d08","name":"Workday?","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.workday","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":380,"wires":[[],["d09509fb.b11aa8"]]},{"id":"e54b3d79.db4c1","type":"api-current-state","z":"415c2642.af2d08","name":"Automation enabled?","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_vacuum_start","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":160,"y":140,"wires":[["3f28343b.13fddc"],[]]},{"id":"1ad7899e.d47f86","type":"api-current-state","z":"415c2642.af2d08","name":"Automation enabled?","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_vacuum_mode","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":820,"wires":[["b2892851.3b5b78"],[]]},{"id":"803d2b5e.78c6b8","type":"api-current-state","z":"415c2642.af2d08","name":"Automation enabled?","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_vacuum_mode","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":860,"wires":[["c9512a55.2d2ce8"],[]]},{"id":"f04213b33e8dc458","type":"debug","z":"415c2642.af2d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":170,"y":760,"wires":[]},{"id":"27300934ccf74415","type":"inject","z":"415c2642.af2d08","name":"4 pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":980,"wires":[["31245adb98f7b93d"]]},{"id":"698810ca29e71d94","type":"api-call-service","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":5,"debugenabled":false,"domain":"script","service":"vacuum_bathroom","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":490,"y":980,"wires":[[]]},{"id":"31245adb98f7b93d","type":"api-current-state","z":"415c2642.af2d08","name":"Workday?","server":"8267124e.00ea9","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.workday","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":260,"y":980,"wires":[["698810ca29e71d94"],[]]},{"id":"df031f858b6c2861","type":"trigger","z":"415c2642.af2d08","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"15","extend":true,"overrideDelay":false,"units":"s","reset":"STOP","bytopic":"all","topic":"topic","outputs":1,"x":710,"y":520,"wires":[["96c2f008.ff06c"]]},{"id":"6e84bd05.19cbd4","type":"server-state-changed","z":"f0642c91.8f133","name":"","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lg_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":40,"wires":[["f431446a.203728"],[]]},{"id":"5769e669.f5d0c8","type":"api-current-state","z":"f0642c91.8f133","name":"","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.jiri_furda","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":220,"wires":[["329862b8.2885ee"],[]]},{"id":"b04ccd7f.81ab8","type":"api-current-state","z":"f0642c91.8f133","name":"","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.vendula_cincurova","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":140,"wires":[["2f0e15b5.1be30a"],["5769e669.f5d0c8"]]},{"id":"2f0e15b5.1be30a","type":"api-call-service","z":"f0642c91.8f133","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"meter_one","entityId":"","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"script","mergecontext":"","x":640,"y":140,"wires":[["5769e669.f5d0c8"]]},{"id":"329862b8.2885ee","type":"api-call-service","z":"f0642c91.8f133","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"meter_two","entityId":"","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"script","mergecontext":"","x":640,"y":220,"wires":[[]]},{"id":"f431446a.203728","type":"api-current-state","z":"f0642c91.8f133","name":"Automation enabled?","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_tv_meter","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":40,"wires":[["b04ccd7f.81ab8"],[]]},{"id":"4ef98a64.d4cbb4","type":"trigger-state","z":"d1775981.e4fad8","name":"PS4 On","server":"8267124e.00ea9","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"media_player.playstation_4","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"pg5wpagcprc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"standby"},{"id":"npwz6ql5jdr","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"standby"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":80,"wires":[["e4f7efc3.4765a"],[]]},{"id":"ae092c1a.0394","type":"api-call-service","z":"d1775981.e4fad8","name":"TV On","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_on","entityId":"media_player.living_room_tv","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"media_player","mergecontext":"","x":910,"y":80,"wires":[[]]},{"id":"a2d607c5.e0b838","type":"server-state-changed","z":"d1775981.e4fad8","name":"Setobox Off","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.setobox","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":200,"wires":[["9ccc3785db6e43cb"],["b61456b3.c9d6e8"]]},{"id":"b61456b3.c9d6e8","type":"change","z":"d1775981.e4fad8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":260,"wires":[["9ccc3785db6e43cb"]]},{"id":"a7c54c26.9669","type":"api-current-state","z":"d1775981.e4fad8","name":"Automation enabled","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_tv_power_on_off","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":660,"y":320,"wires":[["cfaa96ef.634f38"],[]]},{"id":"d188c802.a1a178","type":"api-current-state","z":"d1775981.e4fad8","name":"PS4 Off","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"standby","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.playstation_4","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":840,"y":200,"wires":[["9459d73a.05fb38"],[]]},{"id":"5edee3eb.caa7cc","type":"api-call-service","z":"d1775981.e4fad8","name":"TV Off","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_on","entityId":"media_player.living_room_tv","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"media_player","mergecontext":"","x":1090,"y":200,"wires":[[]]},{"id":"4f2c4afd.2d5294","type":"server-state-changed","z":"d1775981.e4fad8","name":"PS4 Off","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.playstation_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"standby","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":320,"wires":[["bcd93903d8de55a2"],["d2cd87eb.69c568"]]},{"id":"d2cd87eb.69c568","type":"change","z":"d1775981.e4fad8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":380,"wires":[["bcd93903d8de55a2"]]},{"id":"cfaa96ef.634f38","type":"api-current-state","z":"d1775981.e4fad8","name":"Setobox Off","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.setobox","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":850,"y":320,"wires":[["d87ec442.846978"],[]]},{"id":"7e6ccfb6.f2078","type":"api-call-service","z":"d1775981.e4fad8","name":"TV Off","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_on","entityId":"media_player.living_room_tv","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"media_player","mergecontext":"","x":1110,"y":320,"wires":[[]]},{"id":"4828688f.5b8708","type":"api-current-state","z":"d1775981.e4fad8","name":"Automation enabled","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_tv_power_on_off","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":660,"y":200,"wires":[["d188c802.a1a178"],[]]},{"id":"553ffe.9bff9004","type":"api-current-state","z":"d1775981.e4fad8","name":"Automation enabled","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_tv_power_on_off","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":80,"wires":[[],[]]},{"id":"d6e86d8b.db45e","type":"server-state-changed","z":"d1775981.e4fad8","name":"TV Off","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":480,"wires":[["bf960152aa3a9706"],["89588c8b.30fe5"]]},{"id":"89588c8b.30fe5","type":"change","z":"d1775981.e4fad8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":540,"wires":[["bf960152aa3a9706"]]},{"id":"35e486a.cc7557a","type":"api-current-state","z":"d1775981.e4fad8","name":"Automation enabled","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_tv_power_on_off","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":660,"y":480,"wires":[["df07c30.9f6364","5ae19a66.9487c4"],[]]},{"id":"df07c30.9f6364","type":"api-current-state","z":"d1775981.e4fad8","name":"Setobox on","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.setobox","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":850,"y":480,"wires":[["995fc016.40d3e"],[]]},{"id":"995fc016.40d3e","type":"api-call-service","z":"d1775981.e4fad8","name":"Setobox Off","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_off","entityId":"media_player.setobox","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"media_player","mergecontext":"","x":1010,"y":480,"wires":[[]]},{"id":"5ae19a66.9487c4","type":"api-current-state","z":"d1775981.e4fad8","name":"PS4 on","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"playing, idle","halt_if_type":"str","halt_if_compare":"includes","entity_id":"media_player.setobox","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":840,"y":540,"wires":[["41c9357d.34b0cc"],[]]},{"id":"41c9357d.34b0cc","type":"api-call-service","z":"d1775981.e4fad8","name":"PS4 Off","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_off","entityId":"media_player.playstation_4","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"media_player","mergecontext":"","x":1000,"y":540,"wires":[[]]},{"id":"e4f7efc3.4765a","type":"api-current-state","z":"d1775981.e4fad8","name":"Setobox Off","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.setobox","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":80,"wires":[["54e232c7.16e8bc"],[]]},{"id":"54e232c7.16e8bc","type":"api-current-state","z":"d1775981.e4fad8","name":"Tv Off","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.living_room_tv","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":770,"y":80,"wires":[["ae092c1a.0394"],[]]},{"id":"d87ec442.846978","type":"api-current-state","z":"d1775981.e4fad8","name":"Tv On","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.living_room_tv","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":990,"y":320,"wires":[["7e6ccfb6.f2078"],[]]},{"id":"9459d73a.05fb38","type":"api-current-state","z":"d1775981.e4fad8","name":"Tv On","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.living_room_tv","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":970,"y":200,"wires":[["5edee3eb.caa7cc"],[]]},{"id":"9ccc3785db6e43cb","type":"trigger","z":"d1775981.e4fad8","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"15","extend":true,"overrideDelay":false,"units":"s","reset":"STOP","bytopic":"all","topic":"topic","outputs":1,"x":450,"y":200,"wires":[["4828688f.5b8708"]]},{"id":"bcd93903d8de55a2","type":"trigger","z":"d1775981.e4fad8","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"15","extend":true,"overrideDelay":false,"units":"s","reset":"STOP","bytopic":"all","topic":"topic","outputs":1,"x":430,"y":320,"wires":[["a7c54c26.9669"]]},{"id":"bf960152aa3a9706","type":"trigger","z":"d1775981.e4fad8","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":false,"units":"s","reset":"STOP","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":480,"wires":[["35e486a.cc7557a"]]},{"id":"77939c66.e35f34","type":"debug","z":"c60a147b.67f888","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":100,"wires":[]},{"id":"827f6868.4af1e8","type":"server-state-changed","z":"c60a147b.67f888","name":"Shorcut button","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bathroom_shortcut_button_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":180,"wires":[["182a43a1.3af71c","77939c66.e35f34"]]},{"id":"c5386e85.6637f","type":"api-call-service","z":"c60a147b.67f888","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"vacuum_bathroom","entityId":"","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"script","mergecontext":"","x":640,"y":180,"wires":[[]]},{"id":"182a43a1.3af71c","type":"switch","z":"c60a147b.67f888","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":180,"wires":[["c5386e85.6637f"]]},{"id":"8f76b055.965ed","type":"api-call-service","z":"2412f222.0f06ee","name":"Red","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_on","entityId":"light.bedroom_light_rgb","data":"{\"transition\": 1, \"rgb_color\":[255,0,0], \"brightness\": 255}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"light","mergecontext":"","x":710,"y":140,"wires":[["58edc93497be61f5"]]},{"id":"780a248a.e8579c","type":"api-call-service","z":"2412f222.0f06ee","name":"White","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_on","entityId":"light.bedroom_light_rgb","data":"{\"transition\":1,\"rgb_color\":[255,255,255],\"brightness\":255}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"light","mergecontext":"","x":710,"y":60,"wires":[["e439d127598132ac"]]},{"id":"572b1a2c.4248e4","type":"api-call-service","z":"2412f222.0f06ee","name":"Blue","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_on","entityId":"light.bedroom_light_rgb","data":"{\"transition\": 1, \"rgb_color\":[0,0,255], \"brightness\": 255}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"light","mergecontext":"","x":710,"y":220,"wires":[["36b84c4ed1040131"]]},{"id":"52a9649a.ac63dc","type":"api-call-service","z":"2412f222.0f06ee","name":"CCT off","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_off","entityId":"light.bedroom_light_cct","data":"","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"light","mergecontext":"","x":460,"y":60,"wires":[["780a248a.e8579c"]]},{"id":"17acfcad.cc2d43","type":"subflow:76521e26.8c88b","z":"2412f222.0f06ee","name":"","env":[],"x":730,"y":300,"wires":[["4c5ed140.5d107"]]},{"id":"ff1a890b.5ecf88","type":"subflow:76521e26.8c88b","z":"2412f222.0f06ee","name":"","env":[],"x":730,"y":360,"wires":[["afcd7723.07ba28"]]},{"id":"bbda85ba.a306b8","type":"subflow:76521e26.8c88b","z":"2412f222.0f06ee","name":"","env":[],"x":730,"y":420,"wires":[[]]},{"id":"29dc533d.05cdec","type":"server-state-changed","z":"2412f222.0f06ee","name":"","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.tricolor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":280,"wires":[["52a9649a.ac63dc"],["9bbc92ba.dc1ba","7ac51900.22eed8"]]},{"id":"9bbc92ba.dc1ba","type":"api-call-service","z":"2412f222.0f06ee","name":"CCT on","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_on","entityId":"light.bedroom_light_cct","data":"{\"rgb_color\":[255,255,255],\"brightness\":255}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"light","mergecontext":"","x":440,"y":460,"wires":[[]]},{"id":"7ac51900.22eed8","type":"api-call-service","z":"2412f222.0f06ee","name":"RGB white","server":"8267124e.00ea9","version":1,"debugenabled":false,"service":"turn_on","entityId":"light.bedroom_light_rgb","data":"{\"rgb_color\":[255,255,255],\"brightness\":255}","dataType":"json","mustacheAltTags":false,"output_location":"","output_location_type":"none","service_domain":"light","mergecontext":"","x":450,"y":520,"wires":[[]]},{"id":"2ed35387.381b0c","type":"api-current-state","z":"2412f222.0f06ee","name":"Tricolor state","server":"8267124e.00ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.tricolor","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":60,"wires":[["85675046.dd39a"]]},{"id":"85675046.dd39a","type":"switch","z":"2412f222.0f06ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1250,"y":60,"wires":[["8f76b055.965ed"],[]]},{"id":"bde76a2e.8a5ae8","type":"api-current-state","z":"2412f222.0f06ee","name":"Tricolor state","server":"8267124e.00ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.tricolor","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":140,"wires":[["dcc274be.ff9e08"]]},{"id":"dcc274be.ff9e08","type":"switch","z":"2412f222.0f06ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1250,"y":140,"wires":[["572b1a2c.4248e4"],[]]},{"id":"72ad867a.4de308","type":"api-current-state","z":"2412f222.0f06ee","name":"Tricolor state","server":"8267124e.00ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.tricolor","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":220,"wires":[["b10bf53b.ae13a8"]]},{"id":"b10bf53b.ae13a8","type":"switch","z":"2412f222.0f06ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1250,"y":220,"wires":[["780a248a.e8579c"],[]]},{"id":"4c5ed140.5d107","type":"api-current-state","z":"2412f222.0f06ee","name":"Tricolor state","server":"8267124e.00ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.tricolor","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":300,"wires":[["72c87a99.ef4654"]]},{"id":"72c87a99.ef4654","type":"switch","z":"2412f222.0f06ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1250,"y":300,"wires":[[],[]]},{"id":"afcd7723.07ba28","type":"api-current-state","z":"2412f222.0f06ee","name":"Tricolor state","server":"8267124e.00ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.tricolor","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":360,"wires":[["2b420ded.639be2"]]},{"id":"2b420ded.639be2","type":"switch","z":"2412f222.0f06ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1250,"y":360,"wires":[[],[]]},{"id":"83b7f697.769fd8","type":"api-current-state","z":"2412f222.0f06ee","name":"Tricolor state","server":"8267124e.00ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.tricolor","state_type":"str","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":420,"wires":[["1cf6f2fa.760a3d"]]},{"id":"1cf6f2fa.760a3d","type":"switch","z":"2412f222.0f06ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1250,"y":420,"wires":[[],[]]},{"id":"e439d127598132ac","type":"trigger","z":"2412f222.0f06ee","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":false,"units":"s","reset":"STOP","bytopic":"all","topic":"topic","outputs":1,"x":880,"y":60,"wires":[["2ed35387.381b0c"]]},{"id":"58edc93497be61f5","type":"trigger","z":"2412f222.0f06ee","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":false,"units":"s","reset":"STOP","bytopic":"all","topic":"topic","outputs":1,"x":880,"y":140,"wires":[["bde76a2e.8a5ae8"]]},{"id":"36b84c4ed1040131","type":"trigger","z":"2412f222.0f06ee","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":false,"units":"s","reset":"STOP","bytopic":"all","topic":"topic","outputs":1,"x":900,"y":220,"wires":[["72ad867a.4de308"]]},{"id":"3e611a15394a28e6","type":"server-state-changed","z":"ebbbe5d0bed04065","name":"","server":"8267124e.00ea9","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.pc_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":160,"wires":[["01389b9b50a6cab2"],[]]},{"id":"01389b9b50a6cab2","type":"function","z":"ebbbe5d0bed04065","name":"Check time","func":"const now = new Date();\n\nif(now.getHours() >= 22 || now.getHours() < 5)\n    return { payload: \"on\" }","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":160,"wires":[["99b53a46096af00f"]]},{"id":"99b53a46096af00f","type":"api-call-service","z":"ebbbe5d0bed04065","name":"","server":"8267124e.00ea9","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":["40e325d2d7bff017a27da4bc97a7769b"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":160,"wires":[[]]},{"id":"7a6e33053ee8d6c8","type":"inject","z":"ebbbe5d0bed04065","name":"5 am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":360,"wires":[["72056a59fc55b3dd"]]},{"id":"72056a59fc55b3dd","type":"api-call-service","z":"ebbbe5d0bed04065","name":"","server":"8267124e.00ea9","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":["40e325d2d7bff017a27da4bc97a7769b"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":360,"wires":[[]]},{"id":"c8d31c657e3ac259","type":"inject","z":"ebbbe5d0bed04065","name":"10 pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":240,"wires":[["87b8708c537d201d"]]},{"id":"87b8708c537d201d","type":"api-current-state","z":"ebbbe5d0bed04065","name":"","server":"8267124e.00ea9","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pc_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":240,"wires":[["99b53a46096af00f"],[]]}]