node-red/flows.json
[{"id":"6d94cb8a.b8a6a4","type":"tab","label":"PS4","disabled":false,"info":""},{"id":"ea727665.434288","type":"tab","label":"IKEA remote (living room)","disabled":false,"info":""},{"id":"51a93ab6.acbab4","type":"tab","label":"Plex","disabled":false,"info":""},{"id":"79098b2c.541794","type":"tab","label":"Washing machine","disabled":false,"info":""},{"id":"2f189c84.132d24","type":"tab","label":"DND","disabled":false,"info":""},{"id":"132fe0e2.2a3f2f","type":"tab","label":"IKEA remote (main light)","disabled":true,"info":""},{"id":"415c2642.af2d08","type":"tab","label":"Vacuum","disabled":false,"info":""},{"id":"76521e26.8c88b","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"8267124e.00ea9","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"35f93702.55a168","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c3b45c28.dd1dc","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9f60b1e4.b8d8c","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.132","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"42dbd6f7.666bb8","type":"server","z":"","name":"Home Assistant X","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"2245da93.61b096","type":"server","z":"","name":"Hass.io","legacy":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"daf9e6d0.2e0f38","type":"server-state-changed","z":"6d94cb8a.b8a6a4","name":"","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.playstation_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":40,"wires":[["b281c8d.bd24338"]]},{"id":"b281c8d.bd24338","type":"function","z":"6d94cb8a.b8a6a4","name":"Check conditions","func":"const states = global.get('homeassistant').homeAssistant.states;\n\nvar enabled = states[\"input_boolean.automations_enabled\"].state;\nvar sun = states[\"sun.sun\"].state;\nvar light_state = states[\"light.living_room_light_light\"].state;\n\nvar response = {};\n\nif( enabled == 'on' &&\n    msg.payload == 'playing' &&\n    sun == 'below_horizon' &&\n    light_state == 'on' )\n{\n    response.payload = 'tv_on'\n}\nelse\n{\n    response.payload = 'tv_off'\n}\nreturn response;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":40,"wires":[["79558556.dbf09c"]]},{"id":"8dcd6810.4c2358","type":"api-call-service","z":"6d94cb8a.b8a6a4","name":"","server":"8267124e.00ea9","version":1,"debugenabled":true,"service_domain":"scene","service":"turn_on","entityId":"scene.tv_time","data":"{\"transition\":5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":40,"wires":[[]]},{"id":"79558556.dbf09c","type":"switch","z":"6d94cb8a.b8a6a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"tv_on","vt":"str"},{"t":"eq","v":"tv_off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":40,"wires":[["8dcd6810.4c2358"],[]]},{"id":"2684cb64.142874","type":"server-state-changed","z":"132fe0e2.2a3f2f","name":"IKEA remote","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x680ae2fffe8288a7_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":180,"wires":[["d9020151.58606","219ea3bd.0e8e4c"]]},{"id":"d9020151.58606","type":"debug","z":"132fe0e2.2a3f2f","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":100,"wires":[]},{"id":"219ea3bd.0e8e4c","type":"switch","z":"132fe0e2.2a3f2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":180,"wires":[["5215c755.c01e28"],[],[],["d79e8354.e2418"],["94d68028.a4b42"]]},{"id":"5215c755.c01e28","type":"api-call-service","z":"132fe0e2.2a3f2f","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.0x680ae2fffe5e602c_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":180,"wires":[[]]},{"id":"d79e8354.e2418","type":"function","z":"132fe0e2.2a3f2f","name":"Brightness up","func":"var deviceName = \"0x680ae2fffe5e602c\";\nvar device = global.get(\"homeassistant\").homeAssistant.states[\"light.\" + deviceName + \"_light\"];\nvar current = device.attributes.brightness;\n\nvar brightness = current + 50;\n\nif(brightness > 255) {\n    brightness = 255;\n}\nmsg.topic = \"zigbee2mqtt/\" + deviceName + \"/set\";\nmsg.payload = {\n    \"brightness\": brightness\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":240,"wires":[["22c9f8c3.e0ea78"]]},{"id":"94d68028.a4b42","type":"function","z":"132fe0e2.2a3f2f","name":"Brightness down","func":"var deviceName = \"0x680ae2fffe5e602c\";\nvar device = global.get(\"homeassistant\").homeAssistant.states[\"light.\" + deviceName + \"_light\"];\nvar current = device.attributes.brightness;\n\nvar brightness = current - 50;\n\n\n\nif(current == 1) {\n    brightness = 0;\n}\nelse if(brightness < 0) {\n    brightness = 1;\n}\n\n\n\nmsg.topic = \"zigbee2mqtt/\" + deviceName + \"/set\";\nmsg.payload = {\n    \"brightness\": brightness\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":280,"wires":[["22c9f8c3.e0ea78","f878f89c.d73de8"]]},{"id":"22c9f8c3.e0ea78","type":"mqtt out","z":"132fe0e2.2a3f2f","name":"","topic":"","qos":"","retain":"","broker":"c3b45c28.dd1dc","x":920,"y":280,"wires":[]},{"id":"f878f89c.d73de8","type":"debug","z":"132fe0e2.2a3f2f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":360,"wires":[]},{"id":"372e70b1.25dfa","type":"server-state-changed","z":"ea727665.434288","name":"IKEA remote","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x680ae2fffe8288a7_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":60,"wires":[["6bdd37f9.e52048","1bdffc8f.3d4b43"]]},{"id":"6bdd37f9.e52048","type":"debug","z":"ea727665.434288","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":320,"y":180,"wires":[]},{"id":"1bdffc8f.3d4b43","type":"switch","z":"ea727665.434288","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"toggle_hold","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":290,"y":60,"wires":[["3e9787cb.513948"],["aa6da7cf.e41608"],["f29c3c9.fee9ec"],["a390bba7.8100e8"],["b796158a.96f588"],["6a629ca3.e61f84"]]},{"id":"a390bba7.8100e8","type":"api-call-service","z":"ea727665.434288","name":"Living room main light toggle","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.living_room_light_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":180,"wires":[[]]},{"id":"f29c3c9.fee9ec","type":"api-call-service","z":"ea727665.434288","name":"Kitchen light toggle","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.kitchen_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":140,"wires":[[]]},{"id":"46a73730.324a18","type":"function","z":"ea727665.434288","name":"Set devices","func":"global.set(\"AllLights\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":400,"wires":[[]]},{"id":"cb790fb0.61ee6","type":"inject","z":"ea727665.434288","name":"Zigbee Devices","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"light.living_room_light_light\",\"light.living_room_lamp_light\"]","payloadType":"json","x":140,"y":400,"wires":[["46a73730.324a18"]]},{"id":"3e9787cb.513948","type":"function","z":"ea727665.434288","name":"Toggle all lights on/off","func":"// Settings\nvar dontTurnOnDevicesList = [\n    \"light.living_room_lamp_light\"\n    ];\n\n// Variables\nvar devices = global.get(\"AllLights\");\nvar response = [];\nvar turningOn = true;\n\n// Check if turning lights on or off\nfor(let deviceName of devices) {\n    var device = global.get(\"homeassistant\").homeAssistant.states[deviceName];\n    var currentState = device.attributes.state;\n    if(currentState == \"ON\") {\n        node.warn(\"Light <\" + deviceName + \"> is ON\");\n        turningOn = false;\n        break;\n    }\n}\nnode.warn(\"Turning lights in living room <\" + (turningOn ? \"ON\" : \"OFF\") + \">\");\n\n// Turn on/off devices\nfor(let deviceName of devices) {\n    if(turningOn && dontTurnOnDevicesList.includes(deviceName)) {\n       response.push(null);\n       continue;\n    }\n    \n    msg = {\n        domain: deviceName.substr(0, deviceName.indexOf('.')), // light/switch\n        service: \"turn_\" + (turningOn ? \"on\" : \"off\"),\n        data: { entity_id: deviceName }\n    };\n    response.push({ payload: msg });\n}\n\nnode.warn(response);\nreturn response;","outputs":4,"noerr":0,"initialize":"","finalize":"","x":580,"y":40,"wires":[["18f1a89d.213b77"],["18f1a89d.213b77"],["18f1a89d.213b77"],["18f1a89d.213b77"]],"info":"This node has to have as many input as the count of items in function node \"Zigbee Devices\""},{"id":"18f1a89d.213b77","type":"api-call-service","z":"ea727665.434288","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":40,"wires":[[]]},{"id":"aa6da7cf.e41608","type":"api-call-service","z":"ea727665.434288","name":"Living Room Off","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"script","service":"living_room_off","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":100,"wires":[[]]},{"id":"243c664.f45249a","type":"server-state-changed","z":"51a93ab6.acbab4","name":"","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.plex_plex_for_playstation_4_ps4_591","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":260,"y":80,"wires":[["961d053.9ee9af8"]]},{"id":"e9aefe4c.d92bd","type":"switch","z":"51a93ab6.acbab4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"eq","v":"paused","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":100,"wires":[["7b7b428a.210a6c"],["87f1b0d.f77e35"]]},{"id":"87f1b0d.f77e35","type":"api-call-service","z":"51a93ab6.acbab4","name":"","server":"8267124e.00ea9","version":1,"debugenabled":true,"service_domain":"scene","service":"turn_on","entityId":"scene.tv_time","data":"{\"transition\":3}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":120,"wires":[[]]},{"id":"7b7b428a.210a6c","type":"api-call-service","z":"51a93ab6.acbab4","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.living_room_light_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":60,"wires":[[]]},{"id":"961d053.9ee9af8","type":"function","z":"51a93ab6.acbab4","name":"Check if automation enabled","func":"const globalHomeAssistant = global.get('homeassistant');\n\nvar automationsEnabled = globalHomeAssistant.homeAssistant.states[\"input_boolean.automation_plex_pause_light\"].state;\n\nif(automationsEnabled === 'on')\n{\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[["e9aefe4c.d92bd"]]},{"id":"6a629ca3.e61f84","type":"api-call-service","z":"ea727665.434288","name":"Minimum","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.tv_time","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":300,"wires":[[]]},{"id":"b796158a.96f588","type":"api-call-service","z":"ea727665.434288","name":"Maximum","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.focus_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":240,"wires":[[]]},{"id":"ad1b5bea.6544f8","type":"server-state-changed","z":"79098b2c.541794","name":"Washer power changed","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.washing_machine_plug_power","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":220,"wires":[["9f314c86.ecada","a1cc4b60.af01b8"]]},{"id":"9c870063.1da69","type":"api-current-state","z":"79098b2c.541794","name":"Washer is Off/Standby","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"Off, Standby","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.washing_machine_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":40,"wires":[["a2d6fca7.9c1ee"],[]]},{"id":"a2d6fca7.9c1ee","type":"api-call-service","z":"79098b2c.541794","name":"Washer set to Starting","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.washing_machine_status","data":"{\"option\":\"Starting\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":40,"wires":[[]]},{"id":"e887915e.61f36","type":"inject","z":"79098b2c.541794","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"idle_power_threshold\":3,\"confirm_power_threshold\":300}","payloadType":"json","x":110,"y":960,"wires":[["52a2a5bd.aef6ac"]]},{"id":"52a2a5bd.aef6ac","type":"function","z":"79098b2c.541794","name":"Set thresholds","func":"flow.set('idle_power_threshold', msg.payload['idle_power_threshold']);\nflow.set('confirm_power_threshold', msg.payload['confirm_power_threshold']);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":960,"wires":[[]]},{"id":"f0597723.fa53b8","type":"stoptimer","z":"79098b2c.541794","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"30 sec","x":930,"y":400,"wires":[["4f720e8a.b3c33"],[]]},{"id":"a396609d.f74d4","type":"change","z":"79098b2c.541794","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":360,"wires":[["f0597723.fa53b8"]]},{"id":"4f720e8a.b3c33","type":"api-call-service","z":"79098b2c.541794","name":"Washer set to Standby","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.washing_machine_status","data":"{\"option\":\"Standby\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1140,"y":400,"wires":[[]]},{"id":"2ee12c33.651894","type":"api-call-service","z":"79098b2c.541794","name":"TTS: Washer finished","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"all","data":"{\"message\":\"Právě doprala pračka.\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":640,"wires":[["b82a2ce7.673aa"]]},{"id":"b4295b59.d698a8","type":"change","z":"79098b2c.541794","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":720,"wires":[["b82a2ce7.673aa"]]},{"id":"b82a2ce7.673aa","type":"stoptimer","z":"79098b2c.541794","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"30 min","x":570,"y":720,"wires":[["ca51e1d2.a2314"],[]]},{"id":"a6833fe9.494c","type":"api-call-service","z":"79098b2c.541794","name":"TTS: Washer still full","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"all","data":"{\"message\":\"Pračka stále není vyprázdněná.\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":720,"wires":[["b82a2ce7.673aa"]]},{"id":"a43524cc.7421e8","type":"api-current-state","z":"79098b2c.541794","name":"Washer is Standby","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"Standby","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.washing_machine_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":480,"wires":[["5679f72d.c65ef8"],[]]},{"id":"5679f72d.c65ef8","type":"api-call-service","z":"79098b2c.541794","name":"Washer set to Off","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.washing_machine_status","data":"{\"option\":\"Off\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1130,"y":480,"wires":[[]]},{"id":"9f314c86.ecada","type":"switch","z":"79098b2c.541794","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"idle_power_threshold","vt":"flow"},{"t":"lte","v":"idle_power_threshold","vt":"flow"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":380,"wires":[["a396609d.f74d4"],["33bf6187.1e14ee"],["a43524cc.7421e8"]]},{"id":"33bf6187.1e14ee","type":"api-current-state","z":"79098b2c.541794","name":"Washer is On","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"On","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.washing_machine_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":600,"y":420,"wires":[["f0597723.fa53b8"],[]]},{"id":"fa545a19.c4c128","type":"api-current-state","z":"79098b2c.541794","name":"DND is off","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.dnd","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":930,"y":720,"wires":[["a6833fe9.494c"],[]]},{"id":"9b6e8101.6932","type":"api-current-state","z":"79098b2c.541794","name":"DND is off","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.dnd","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":640,"wires":[["2ee12c33.651894"],[]]},{"id":"5ad91050.698aa","type":"api-current-state","z":"79098b2c.541794","name":"Automation enabled","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_washing_machine","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":640,"wires":[["9b6e8101.6932"],[]]},{"id":"ca51e1d2.a2314","type":"api-current-state","z":"79098b2c.541794","name":"Automation enabled","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_washing_machine","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":740,"y":720,"wires":[["fa545a19.c4c128"],[]]},{"id":"ac05dd4.45da42","type":"stoptimer","z":"79098b2c.541794","duration":"70","units":"Second","payloadtype":"num","payloadval":"0","name":"70 sec","x":910,"y":140,"wires":[["6d3aa72.45a4558"],[]]},{"id":"926c52ab.fe255","type":"api-current-state","z":"79098b2c.541794","name":"Washer is Starting","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"Starting","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.washing_machine_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":220,"wires":[["46351c2b.3e2d24"],[]]},{"id":"a1cc4b60.af01b8","type":"switch","z":"79098b2c.541794","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"idle_power_threshold","vt":"flow"},{"t":"lte","v":"idle_power_threshold","vt":"flow"},{"t":"gt","v":"confirm_power_threshold","vt":"flow"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":100,"wires":[["9c870063.1da69","ef2b1b43.9c4bd8"],["4caadf53.53bf5"],["926c52ab.fe255"]]},{"id":"46351c2b.3e2d24","type":"api-call-service","z":"79098b2c.541794","name":"Washer set to On","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.washing_machine_status","data":"{\"option\":\"On\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":220,"wires":[[]]},{"id":"4caadf53.53bf5","type":"api-current-state","z":"79098b2c.541794","name":"Washer is Starting","server":"8267124e.00ea9","version":1,"outputs":2,"halt_if":"Starting","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.washing_machine_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":160,"wires":[["ac05dd4.45da42"],[]]},{"id":"ef2b1b43.9c4bd8","type":"change","z":"79098b2c.541794","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":100,"wires":[["ac05dd4.45da42"]]},{"id":"6d3aa72.45a4558","type":"api-call-service","z":"79098b2c.541794","name":"Washer set to Standby","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.washing_machine_status","data":"{\"option\":\"Standby\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":140,"wires":[[]]},{"id":"e6e00ff2.33ebb","type":"trigger-state","z":"79098b2c.541794","name":"Washer from On to Standby","server":"8267124e.00ea9","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.washing_machine_status","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"navtyx4k548","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"On"},{"id":"eb8wiikbro5","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Standby"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":140,"y":680,"wires":[["5ad91050.698aa","e12feaca.0bc2d8"],["b4295b59.d698a8"]]},{"id":"a15cc86f.c5ad48","type":"comment","z":"79098b2c.541794","name":"Handle \"Starting\" state","info":"","x":340,"y":40,"wires":[]},{"id":"62e8f20b.d51eec","type":"comment","z":"79098b2c.541794","name":"Handle other states","info":"","x":390,"y":320,"wires":[]},{"id":"b4f57d0e.0337b","type":"server-state-changed","z":"79098b2c.541794","name":"Washer is Starting","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.washing_machine_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Starting","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":860,"wires":[["b6fbddcf.23f9"],[]]},{"id":"b6fbddcf.23f9","type":"api-call-service","z":"79098b2c.541794","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"timer","service":"start","entityId":"timer.washing_machine","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":860,"wires":[[]]},{"id":"e12feaca.0bc2d8","type":"api-call-service","z":"79098b2c.541794","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"timer","service":"finish","entityId":"timer.washing_machine","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":600,"wires":[[]]},{"id":"3f28343b.13fddc","type":"function","z":"415c2642.af2d08","name":"Is mop?","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst vacuum = states[\"vacuum.xiaomi_mop_p\"];\n\nreturn {'payload': vacuum.attributes.is_mop};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":200,"wires":[["e1cae066.ccfb5"]]},{"id":"e1cae066.ccfb5","type":"switch","z":"415c2642.af2d08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":200,"wires":[["d8f7bf4.289c14"],["5b7a8ac1.fee8a4"]]},{"id":"d8f7bf4.289c14","type":"api-call-service","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"script","service":"vacuum_living_room_with_carpet","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":160,"wires":[[]]},{"id":"5b7a8ac1.fee8a4","type":"api-call-service","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"script","service":"vacuum_living_room_no_carpet","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":260,"wires":[[]]},{"id":"70ff5e9f.bef64","type":"server-state-changed","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.vacuum_living_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":60,"wires":[["3f28343b.13fddc","aa12f973.75bef8"],[]]},{"id":"aa12f973.75bef8","type":"api-call-service","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.vacuum_living_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":60,"wires":[[]]},{"id":"7a9d45d8.a0e24c","type":"server-state-changed","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.someone_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":460,"wires":[["54eff117.f1814"],["57bc4082.9d89e"]]},{"id":"57bc4082.9d89e","type":"stoptimer","z":"415c2642.af2d08","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":690,"y":460,"wires":[["b2df92de.279c5"],[]]},{"id":"54eff117.f1814","type":"change","z":"415c2642.af2d08","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":380,"wires":[["57bc4082.9d89e"]]},{"id":"b2df92de.279c5","type":"api-get-history","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","startdate":"","enddate":"","entityid":"vacuum.xiaomi_mop_p","entityidtype":"is","useRelativeTime":true,"relativeTime":"24 h","flatten":true,"output_type":"array","output_location_type":"msg","output_location":"payload","x":130,"y":580,"wires":[["ac3e8818.86c718"]]},{"id":"ac3e8818.86c718","type":"function","z":"415c2642.af2d08","name":"Was vaccum cleaning today?","func":"const records = msg.payload;\n\nvar beginningOfToday = new Date();\nbeginningOfToday.setHours(9);\n\nconst filteredRecords = records\n    .filter(record => record.state == \"cleaning\")\n    .filter(record => new Date(record.last_changed) > beginningOfToday);\n\nif(filteredRecords.length === 0)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":580,"wires":[["81f3b6b8.03dd68"]]},{"id":"e33999de.013ea8","type":"api-call-service","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.xiaomi_mop_p","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":580,"wires":[[]]},{"id":"9dd7a6ea.724d08","type":"server-state-changed","z":"415c2642.af2d08","name":"","server":"8267124e.00ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.someone_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":720,"wires":[["b2892851.3b5b78"],["c9512a55.2d2ce8"]]},{"id":"c9512a55.2d2ce8","type":"api-call-service","z":"415c2642.af2d08","name":"Fan speed Turbo","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"vacuum","service":"set_fan_speed","entityId":"vacuum.xiaomi_mop_p","data":"{\"fan_speed\": \"turbo\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":740,"wires":[[]]},{"id":"b2892851.3b5b78","type":"api-call-service","z":"415c2642.af2d08","name":"Fan speed Quiet","server":"8267124e.00ea9","version":1,"debugenabled":false,"service_domain":"vacuum","service":"set_fan_speed","entityId":"vacuum.xiaomi_mop_p","data":"{\"fan_speed\":0}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":680,"wires":[[]]},{"id":"81f3b6b8.03dd68","type":"function","z":"415c2642.af2d08","name":"Is it the right time?","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst workday = states[\"binary_sensor.workday_sensor\"].state == \"on\" ? true : false;\n\nvar time10am = new Date();\ntime10am.setHours(10);\n\nvar time1pm = new Date();\ntime1pm.setHours(13);\n\nvar time10pm = new Date();\ntime10pm.setHours(22);\n\nvar now = new Date();\n\nif((workday && (now >= time10am && now <= time10pm)) || (!workday && (now >= time1pm && now <= time10pm)))\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":580,"wires":[["e33999de.013ea8"]]}]